.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
  }

#sidebar_nav{
    height: 750px;
   
    float: left; 
    background-color: rgb(177,224,241);
}

#maincontent{
    height: 750px;
    
    float: left;
}

#maincontent::after{
    content: "";
    clear: both;
    display: table;
}

#name-second-half{
   
    float: left;
    padding-left: 100px;
    position: relative;
    width: 50%;
    height: 90px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }


.heading-bar{
    width: 100%;
    height: 90px;
    float: left;
   
    background-color: rgb(239, 249, 246);
    box-shadow: 0px 1px 1px 0px rgba(128, 128, 128, 0.638); 
}
#name-small{
font-size: x-small;
display: block;
padding-left: 25px;
}

#name-medium{
    font-size: larger;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 25px;
    display: block;
}

#name-half{
   
   
    height: 90px;
    float: left;
    
   
    
}

#profile-wrapper{
    
    height: 660px;
    float: left;
}

.card{
    margin: 24px;
    height: 610px;
   
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px gray;
}

.card-firsthalf{
    height: 305px;
    
   
}
#image{
   
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-image: url('tony.png');
        background-size: cover;
        background-position: center;
      margin: auto;
     

}




.material-symbols-outlined{
    font-size: 19px;
}

#bck{
    margin-left: -6px;
}

#bck-btn{
    text-align: center;
    width: fit-content;
    font-size: 16px;
    margin-left: 6px;
    margin-top: 10px;
}

span{
    vertical-align: middle;
}


#prf-name{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

#status{
    display: block;
    text-align: center;
    font-size: small;
}

#skill{
    display: block;
    text-align: center;
    font-size: small;
}


.progress{
    height: 5px;
    
    background-color: rgb(228, 224, 224);
    width: 60%;
    margin: auto;
     border-radius: 8px;
     margin-top: 10px;
    
}

.progress_bar{
    height: 4px;
    width: 60%;
    background-color: rgb(170,208,100);
    border-radius: 8px;
}

#points-box{
    
    background-color:rgb(223,243,251);
    width: 95%;
    border-radius: 5px;
    height: 80px;
    margin: 5px;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    

    
}
.info{
    display: block;
    font-size: small;
    
    
    
}

#info-1{
    width: 40%;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 16px;
    
    
    
}

#info-2{
   width: 29%;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 16px;
    
    
}

#info-3{
     width: 29%;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 16px;
    
}

#vertical-line{
    border-left: 1px solid black;
    height: 55px;
    margin-top: 14px;
}

#heading{
    font-weight: bold;
}

.personal-details{
    margin: 10px;
}

#bdge{
    font-size: 20px;
    font-weight: bold;
   
}

.personal-info{
    margin-top: 10px;
}

.value{
    margin-top: 5px;
}

.p-value{
    font-size: small;
}

.logo{
   
      
      width: 50px;
        height: 50px;
        float: left;
        margin: 10px;
        background-image: url('R.png');
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        
}

#bd{
    margin: 10px;
    font-weight: bold;
   
}



.logo-wrapper::after{
    content: "";
    display: table;
    clear: both;

}

#status-wrapper{
    
    float: left;
    height: 660px;
}

#text-wrapper::after{
    content: "";
    display: table;
    clear: both; 
}

#text-1{
    border-bottom: 4px solid rgb(123,204,237);
    margin-right: 10px;
    
}

#text-1, #text-2{
    float:left;
    padding: 10px;
    cursor: pointer;


}



.skill-asst{
    border: 1px solid rgb(170, 168, 168);
    margin: 8px;
    border-radius: 8px;
}

.skill-asst::after{
    content: "";
    display: table;
    clear: both;
    
}

.button-view{
    
    float: left;
}

.inside-text{
    float: left;
}

.inside-text{
    padding-left: 10px;
}

.inside-text p{
    font-size: small;
}

.inside-text h5{
    font-size: medium;
    
}

.button-view {
    text-align: center;
    padding: 20px;
 
    height: 125px;
}


.button{
    padding: 8px;
    background-color:rgb(123,204,237);
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.create-wrapper{
    width: fit-content;
    
}

.create-wrapper::after{
    content: "";
    display: table;
    clear: both;
}

.create-content{
    float: left;
    font-size: 11px;
    margin-left: 12px;
}

#empty-box{
    height: 10px;
    
}


#search-bar{
    float: left;
    margin-right: 20px;
   
    
}

#s-txt{
    width: 256px;
    margin-top: 25px;
    margin-right: 5px;
    border-radius: 5px;
    height: 33px;
}

.icon {
    padding-left: 25px;
    background: url(search_FILL0_wght400_GRAD0_opsz48.png) no-repeat left;
    background-size: 20px;
    float: left;
    
  }

#bell-icon{
    width: 30px;
    height: 30px;
    background-image: url('notification.png');
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
    margin-top: 28px;
   
}

#kannini-logo{
    width: 40px;
    height: 40px;
    background-image: url('icon.jpeg');
    background-size: cover;
    background-position: center;
    float: left;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 8px;
    
    
}

#profile-name{
    float: left;
   
    font-size: medium;
    margin-top: 28px;
   
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
   border-radius: 10px;
    width: 55%;
  }
  
  /* The Close Button */
  .close {
    color: #171515;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 14px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;}



@media screen and (max-width: 1463px) {
    #name-second-half {
      padding-left: 80px;
    }
  }

@media screen and (max-width: 1397px) {
    #name-second-half {
      padding-left: 0px;
    }
  }

*{
    box-sizing: border-box;
}

@media screen and (max-width: 1463px) {
    #name-second-half {
      padding-left: 80px;
    }
  }

@media screen and (max-width: 1397px) {
    #name-second-half {
      padding-left: 0px;
    }
  }

*{
    box-sizing: border-box;
}




#box-head{
   
    background-color: rgb(187,228,234);
    padding: 20px;
    border-radius: 10px 10px 0 0 ;
    

}



.text-model{
    display: block;
    font-size: small;
    color:rgb(72, 105, 112);
    margin: 5px;
}

#model-firsthalf-wrapper{
    
    background-color: rgb(187,228,234);
   
    
}



#employee-firsthalf{
   
    display: inline-block;
    
    
}

#employee-secondhalf{
   
    display: inline-block;
    
    

}
#employee-info{
 
    display: flex;
    flex-direction: row;
    padding-left: 25px;

   
}

#Deena{
    display: block;
    font-weight: 600;
    font-size: 14px;
    color:rgb(78,96,104);
    margin-left: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.text-model-right{
    display: block;
    font-size: small;
    color: rgb(44, 54, 57);
    padding-left: 5px;
    margin: 5px;
    
}

#name-employe{
    color: rgb(64,161,212);
}



#Assessment-info{
    display: flex;

}

.text-left{
    display: block;
    font-size: small;
    margin: 5px;
}

.text-right{
    display: block;
    font-size: small;
    margin: 5px;
}

#model-first-half{
    
    display: flex;
}

#upper-heading{
    display: flex;
}

.text-card{
    font-size: x-small;
    margin-left: 19px;
    margin-bottom: 3px;
    
}

.textanswer{
    font-size: small;
    margin-left: 19px;
    margin-bottom: 3px;
    
}

#ast-passed{
    font-size: 14px;
    color: rgb(82,184,138);
    
}

#rst-top{
    display: block;
    margin-top: 8px;
    margin-left: 10px;
}

.circle-wrap {
    margin: 0px;
    width: 150px;
    height: 150px;
    background: #e6e2e7;
    border-radius: 50%;
    margin-left: 115px;
    position: relative;
    top:-100px;
  }

  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }

  .circle-wrap .circle .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: rgb(66,211,139);
  }
  .circle-wrap .circle .mask.full,
  .circle-wrap .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(148deg);
  }
   
  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(148deg);
    }
  }

  .circle-wrap .inside-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #fff;
    line-height: 130px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    font-weight: bold;
    
    font-size: 27px ;
  }

  .card-left{
    
    width: 300px;
    height: 250px;
    padding: 5px;
    margin-left: 34px;
    margin-top: 25px;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .timer-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 25px;
    width: 46%;
  }

  #point{
    display: block;
    font-size: small;
    color: #68c199;
    top: -108px;
    position: relative;
  }

  #point-head{
    display: block;
    position: relative;
    top: -8px;
  }

  .progress-container{
    height: 5px;
    background-color: rgb(234,236,238);
    width: 60%;
    border-radius: 2px;
    margin-left: 46px;
    margin-top: 15px;
    margin-bottom: 15px;
   
  }

  .inner-fill{
    width: 10%;
    height: 5px;
    background-color: #1589cc;
    border-radius: 2px;
  }

  .tme{
    display: block;
    font-size: medium;
    margin-bottom:5px ; 
    margin-left: 10px;
    margin-top: 10px;
  }

 .table-left{
    font-size: small;
    
 }

 .table-right{
    font-size: small;
    font-weight: bold;
 }

 #timings{
    margin-left: 46px;
    margin-right: 10px;
    
 }

 .performence-card{
    display: flex;
 }

 td{
    padding-bottom: 1em;
 }

 #timer-bomma{
    margin-bottom: 20px;
 }
