.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
  }

#sidebar_nav{
    height: 750px;
    border: 1px solid blue;
    float: left; 
}

#maincontent{
    height: 750px;
    
    float: left;
}

#maincontent::after{
    content: "";
    clear: both;
    display: table;
}

#name-second-half{
   
    float: left;
    padding-left: 117px;
    position: relative;
    width: 50%;
    height: 90px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
  }


.heading-bar{
    width: 100%;
    height: 90px;
    float: left;
    border: 1px solid rgb(170, 168, 168);
    background-color: rgb(239, 249, 246);
}
#name-small{
font-size: x-small;
display: block;
padding-left: 25px;
}

#name-medium{
    font-size: larger;
    font-weight: bold;
    padding-top: 25px;
    padding-left: 25px;
    display: block;
}

#name-half{
   
   
    height: 90px;
    float: left;
    
   
    
}

#profile-wrapper{
    
    height: 660px;
    float: left;
}

.card{
    margin: 5px;
    height: 610px;
   
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px gray;
}

.card-firsthalf{
    height: 305px;
    
   
}
#image{
   
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-image: url('tony.png');
        background-size: cover;
        background-position: center;
      margin: auto;
     

}




.material-symbols-outlined{
    font-size: 19px;
}

#bck{
    margin-left: -6px;
}

#bck-btn{
    text-align: center;
    width: fit-content;
    font-size: 16px;
    margin-left: 6px;
    margin-top: 10px;
}

span{
    vertical-align: middle;
}


#prf-name{
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

#status{
    display: block;
    text-align: center;
    font-size: small;
}

#skill{
    display: block;
    text-align: center;
    font-size: small;
}


.progress{
    height: 5px;
    
    background-color: rgb(228, 224, 224);
    width: 60%;
    margin: auto;
     border-radius: 8px;
     margin-top: 10px;
    
}

.progress_bar{
    height: 4px;
    width: 60%;
    background-color: rgb(170,208,100);
    border-radius: 8px;
}

#points-box{
    
    background-color:rgb(223,243,251);
    width: 95%;
    border-radius: 5px;
    height: 80px;
    margin: 5px;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
    

    
}
.info{
    display: block;
    font-size: small;
    
    
    
}

#info-1{
    width: 40%;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 16px;
    
    
    
}

#info-2{
   width: 30%;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 16px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

#info-3{
     width: 30%;
    text-align: center;
    float: left;
    height: inherit;
    padding-top: 16px;
    
}

#heading{
    font-weight: bold;
}

.personal-details{
    margin: 10px;
}

#bdge{
    font-size: 20px;
    font-weight: bold;
   
}

.personal-info{
    margin-top: 10px;
}

.value{
    margin-top: 5px;
}

.p-value{
    font-size: small;
}

.logo{
   
      
      width: 50px;
        height: 50px;
        float: left;
        margin: 10px;
        background-image: url('R.png');
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        
}

#bd{
    margin: 10px;
    font-weight: bold;
   
}



.logo-wrapper::after{
    content: "";
    display: table;
    clear: both;

}

#status-wrapper{
    
    float: left;
    height: 660px;
}

#text-wrapper::after{
    content: "";
    display: table;
    clear: both; 
}

#text-1{
    border-bottom: 4px solid rgb(123,204,237);
    margin-right: 10px;
    
}

#text-1, #text-2{
    float:left;
    padding: 10px;
    cursor: pointer;


}



.skill-asst{
    border: 1px solid rgb(170, 168, 168);
    margin: 8px;
    border-radius: 8px;
}

.skill-asst::after{
    content: "";
    display: table;
    clear: both;
    
}

.button-view{
    
    float: left;
}

.inside-text{
    float: left;
}

.inside-text{
    padding-left: 10px;
}

.inside-text p{
    font-size: small;
}

.inside-text h5{
    font-size: medium;
    
}

.button-view {
    text-align: center;
    padding: 20px;
 
    height: 125px;
}


.button{
    padding: 8px;
    background-color:rgb(123,204,237);
    text-decoration: none;
    font-size: 12px;
    border-radius: 5px;
}

.create-wrapper{
    width: fit-content;
    
}

.create-wrapper::after{
    content: "";
    display: table;
    clear: both;
}

.create-content{
    float: left;
    font-size: 11px;
    margin-left: 12px;
}

#empty-box{
    height: 10px;
    
}


#search-bar{
    float: left;
    margin-right: 20px;
   
    
}

#s-txt{
    width: 256px;
    margin-top: 25px;
    margin-right: 5px;
    border-radius: 5px;
    height: 33px;
}

.icon {
    padding-left: 25px;
    background: url(search_FILL0_wght400_GRAD0_opsz48.png) no-repeat left;
    background-size: 20px;
    float: left;
    
  }

#bell-icon{
    width: 30px;
    height: 30px;
    background-image: url('notification.png');
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 10px;
    margin-top: 28px;
   
}

#kannini-logo{
    width: 40px;
    height: 40px;
    background-image: url('icon.jpeg');
    background-size: cover;
    background-position: center;
    float: left;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 8px;
    
    
}

#profile-name{
    float: left;
   
    font-size: medium;
    margin-top: 28px;
   
}

